---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from 'astro:content';

const pageTitle = "AI Content";
const posts = (await getCollection('ai'))
	.filter((post) => !post.data.draft)
	.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout pageTitle={pageTitle}>
	<main>
		{posts.map((post) => 
			<BlogPost
			url={`/ai/${post.slug}/`}
			title={post.data.title}
			pubDate={post.data.pubDate}
			updatedDate={post.data.updatedDate}
			/>
		)}
	</main>
</BaseLayout>

