---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from 'astro:content';

const pageTitle = "The Chris Moles Programming Blog";
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout pageTitle={pageTitle}>
	<main>
		<p>This is where I will post about programming.</p>
		{posts.map((post) => 
		<BlogPost
		url={`/blog/${post.slug}/`}
		title={post.data.title}
		pubDate={post.data.pubDate}
		updatedDate={post.data.updatedDate}
		/>
		)}
	</main>
</BaseLayout>

