---
import BaseLayout from './BaseLayout.astro'
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, tags, heroImage } = Astro.props;

---
<BaseLayout pageTitle={title}>
	<p><em>{description}</em></p>
	{heroImage && <img src={heroImage} width="300" alt="Hero Image" />}
	<div class="tags">
		{tags.map((tag:any) => (
		<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
		))}
	</div>	
	<slot />
</BaseLayout>
<style>
	a {
		color: #00539F;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px #a1a1a1;
		border-radius: .5em;
		padding: .5em 1em;
		font-size: 1.15em;
		background-color: #F8FCFD;
	}
</style>
